@import url('https://fonts.googleapis.com/css2? family= Merriweather:wght@300 & family= Roboto:wght@400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-color: black;
}
.section1{
    font-size: 30px;
    align-items: center;
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 30px;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
}
h1{
    color: rgb(253, 253, 252);
    text-decoration: none;
    text-decoration-color: black;
    font-family: "Roboto";
}
main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
    font-family: "Roboto";
}
img{
    width: 100%;
}
h2{
    margin-top: 1%;
    margin-bottom: 1%;
}
p{
    text-align: justify;  
}
div.videoyoutube{
    margin: 0px -20px 0px -20px;
    padding-bottom: 59%;
    position: relative;
}
div.videoyoutube > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.rodape{
display: flex;
background-color: black;
padding: 20px;
min-width: 320px;
max-width: 1200px;
margin: auto;
justify-content: space-around;
}
.LinkedIn{
margin-top: 5%;
margin-bottom: 5%;
}
.GitHub{
    margin-top: 5%;
    margin-bottom: 5%;
}
.LinkedInLogo{
    max-width: 50px;
    max-height: 50px;
}
.GitHubLogo{
    max-width: 50px;
    max-height: 50px;
}